<app-article-preview *ngFor="let article of results" [article]="article">
</app-article-preview>

<div class="article-preview" *ngIf="loading === LoadingState.LOADING">
  <img
    src="https://media.giphy.com/media/PkoBC2GlkLJ5yFIWtf/giphy.gif?cid=790b7611pb1jlvnxzuedj4wy5ajdu3mpe3zu879a4w14yv5g&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    alt="Loading..."
  />
  Loading articles...
</div>

<div
  class="article-preview"
  *ngIf="loading === LoadingState.LOADED && !results.length"
>
  No articles are here... yet.
</div>

<nav *ngIf="loading === LoadingState.LOADED && totalPages.length > 1">
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ active: pageNumber === currentPage }"
      *ngFor="let pageNumber of totalPages"
    >
      <button class="page-link" (click)="setPageTo(pageNumber)">
        {{ pageNumber }}
        <script>
          const clickSound = new Audio("assets\Garen Ult DEMACIA.mp3.mp3");
          document.addEventListener("click", () => {
            clickSound.play();
          });
        </script>
      </button>
    </li>
  </ul>
</nav>
